/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
  }
  
  .navigation {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px 0;
  }

  nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
  }
  
  nav a {
	text-decoration: none;
	color: grey;
	padding: 0px 30px;
  }
  
  nav a:hover {
	color: black;
  }
  
  header {
	display: flex;
	border-bottom: 1px solid black;
	padding-bottom: 50px;
	justify-content: space-between;
  }

  
  .title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 45%;
	align-items: center;
  }

  .circle {
	width: 45%;
  }

  h1 {
	  font-size: 1.7em;
  }
  
  .title h1 {
	font-size: 5em;
	text-align: center;
  }
  
  .button {
	padding: 5px 35px;
	background-color: white;
	text-align: center;
	border: 1px solid black;
  }
  
  .button:hover {
	background-color: black;
	color: white;
  }
  
  
  .top-section {
	display: flex;
	margin: 20px 0;
	align-items: center;
	
  }


  .image {
	width: 100%; 
  }
  
  .columns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;
  }
  
  .box3 {
	margin: 20px 0;
	width: 32%;
	
  }
  
  address {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 200px;
  }
  
  .contact {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-evenly;
	  height: 100px;
  }

  
  footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
  }

  /* Styles for Services page */

.top {
	display: flex;
	height: 150px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;	
	border-bottom: 3px solid black;
	padding-bottom: 20px;
}

.cards section {
	display: flex;
	flex-direction: column;
	width: 47%;
	border: 1px solid grey;	
	justify-content: space-between;
	height: 100%;
	padding: 20px;
	background-color: lightgray;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20px;
}

.cards section p {
	margin-bottom: 20px;
}

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;	
	border-bottom: 3px solid black;
	padding-bottom: 20px;
}

.features section {
	display: flex;
	flex-direction: column;
	width: 30%;
	border: 1px solid grey;	
	justify-content: space-between;
	height: 100%;
	padding: 20px;
	background-color: lightgray;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20px;
	border-radius: 4px;
	align-items: center;
}

.features section p {
	margin-bottom: 20px;
}

.learn-button {
	border: 1px solid black;
	padding: 10px;
	width: 150px;
	text-align: center;
	border-radius: 4px;
}


.learn-button:hover {
	color: white;
	background-color: black;
}

.bottom {
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
}

.bottom section {
	display: flex;
	flex-direction: column;
	width: 47%;
	justify-content: flex-start;	
}

.services-info-img {
	width: 100%;
}

ul { 
	display: flex;
	flex-direction: column;
	list-style-type: square;
	margin-left: 20px;
	justify-content: space-between;
}

@media (max-width: 800px){
	.navigation {
		flex-direction: column-reverse;
		justify-content: space-around;
		
	}
	nav {
		margin: 20px 0 ;
	}

	.circle {
		display: none;
	}

	header {
		justify-content: center;
		margin: 40px 0;
	}

  }
  
  @media (max-width: 500px){
	
	nav {
		flex-direction: column;
		align-items: center;
		width: 100%;
		text-align: center;
	}

	nav a {
		padding: 20px 0;
		width: 100%;
		border-top: 1px solid black;
	}

	.bottom-link {
		border-bottom: 1px solid black;
	}

	.top-section {
		flex-direction: column;
	}

	.box2 {
		margin: 20px 0;
	}

	.columns {
		flex-direction: column;
	}

	.box3 {
		width: 100%;;
	}


  }